@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

:root {
	

	--dark-color-b: rgb(47,49,54);

	--light-color: rgb(216,218,220);
	--success-color: #5cb85c;
	--error-color: #d9534f;
	--body-color: rgb(32,34,37);

	--main-color: rgb(41,43,47);
	--textfield-color: rgb(54,57,63);
	--sidebar-color: rgb(47,49,54);

	--sidebar-roomname-color: rgb(47,49,54);

	--msgmeta-color: white;

	--header-color: white;

}

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	height: 100%;
	font-family: 'Roboto', sans-serif;
	font-size: 16px;
	margin: 20px;
	background-color: var(--body-color);
    color: blue;
}



/* Register Page */
.join-container {
	max-width: 500px;
	margin: 80px auto;
	color: #fff;
}

.join-header {
	text-align: center;
	padding: 20px;
	background: red;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
}

.join-main {
	padding: 30px 40px;
	background: var(--dark-color-b);
}

.join-main p {
	margin-bottom: 20px;
}

.join-main .form-control {
	margin-bottom: 20px;
}

.join-main label {
	display: block;
	margin-bottom: 5px;
}

.join-main input[type='text'] {
	font-size: 16px;
	padding: 5px;
	height: 40px;
	width: 100%;
}

.join-main input[type='password'] {
	font-size: 16px;
	padding: 5px;
	height: 40px;
	width: 100%;
}

.join-main select {
	font-size: 16px;
	padding: 5px;
	height: 40px;
	width: 100%;
}

.join-main .btn {
	margin-top: 20px;
	width: 100%;
}

.join-main .btn {
	cursor: pointer;
	padding: 5px 15px;
	background: var(--light-color);
	color: var(--dark-color-a);
	border: 0;
	font-size: 17px;
}
